
	<BODY>
		<H1>LED PANEL CONTROL</H1>
		<! every button must be in its own form so the GET request has ONLY that entry>

		<fieldset>
			<legend>Brightness</legend>
			<P>
				<form class="big" >
					<label>Brightness</label>
					<input type ="text" name="brtvalue" class ="bigtext" size="2" value="%BRT%"/>
					<input type="submit" class="button greybkgd" value="Submit" />
				</form>
				<BR><BR>
				<form class="big">
					<label>f/stops</label>
					<input type="text" name="dimvalue" class="bigtext" size="6" value="%DIM%"/>
					<input type="submit" class="button greybkgd" value="Submit" />
				</form>
			</P>
			<P>
			<BR><BR>
				<form class="big">
					<input type="submit" class="button greybkgd" value="UP" name="UP_BTN"/>
					<input type="submit" class="button greybkgd" value="DOWN" name="DN_BTN"/>
				</form>
			</P>
			<BR><BR>
			<P>
				<form class="big">
					<input type="submit" class="button %PN_CSS%" value="Panel %STATE%" name="ENABLE_BTN"/>
				</form>
			</P>
			<BR><BR>
			<fieldset>
				<legend>Battery</legend>
				<P>
					<form class="big">
						<label style="color:%LED_CSS%;">Battery Voltage</label>
						<input type="text" id="battLevel" class="bigtext" value="%BAT%" size="4" disabled />
					</form>
				</P>
				<BR><BR>
				<P>
					<form class="big">
						<input type="submit" class="button %BAT_CSS%" value="Test/Save" name="STATUS_BTN"/>
					</form>
				</P>
			</fieldset>
			<BR><BR>
			<form  class="big" method="get">
				<P>
					<input type="submit" class="button greybkgd" value="Refresh" name="REFRESH_BTN"/>
               <input type="submit" class="button orangebkgd" value="Forget Home Net" name="FORGET_BTN"/>
				</P>
			</form>
		</fieldset>
	</BODY>

